@import "https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css";

body {
    scroll-behavior: smooth;
}

.overlay-anchor {
    position: relative;
}

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.map-wrapper {
    height: 60vh;
    overflow: scroll;
}

.map-section .fade {
    pointer-events: none;

    * {
        background-color: blue;
        position: absolute;
    }

    $fade-width: 2rem;

    *:nth-child(1) {
        top: 0;
        left: 0;
        width: 100%;
        height: $fade-width;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    }

    *:nth-child(2) {
        top: 0;
        left: 0;
        width: $fade-width;
        height: 100%;
        background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    }

    *:nth-child(3) {
        bottom: 0;
        left: 0;
        width: 100%;
        height: $fade-width;
        background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    }

    *:nth-child(4) {
        top: 0;
        right: 0;
        height: 100%;
        width: $fade-width;
        background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    }
}

#map {
    width: fit-content;

    .background {
        max-width: unset;
    }
}

.click-circle {
    position: absolute;
    border: 1px solid black;
    transform: translate(-50%, -50%);
    border-radius: 100%;
}

.color-scale .scale {
    height: 1rem;
    background: linear-gradient(to right, rgba(218, 30, 40, 1), rgba(0, 0, 0, 0), rgba(21, 251, 98, 1));
    opacity: 0.75;
}

.event-area-example {
    aspect-ratio: 1;
    height: 1rem;
    margin-top: 0.25rem;
    margin-right: 1rem;
    background: rgba(21, 251, 98, 1);
    border: 1px solid black;
    opacity: 0.75;
}

ol {
    list-style-position: inside;
}